convert.log
build/
dist/
paddle_project/
paconvert.egg-info/
paconvert/__pycache__/
paconvert/transformer/__pycache__/
paconvert/temp_out/
tests/__pycache__/
tests/.pytest_cache
tests/flash_attn_tests/__pycache__/
tests/test.py
test_project
.pytest_cache
coverage.xml
.coverage
tools/coverage/__pycache__
temp.txt
test_set
torch_project
tensor.pt
